.pageSite {
	padding: 20.83px 0 34.98px;
	@include media-breakpoint-up(lg) {
		padding: 84.33px 0 70.67px;
	}
}
.pageSite {
	width: 100%;
	padding-top: 60px;
	padding: 80.83px 0 34.98px;
	min-height: calc(100vh - 194px);
	overflow: hidden;
	&.closeFooter {
		transition: $trasition;
		min-height: 100vh;
	}
	.titlePage {
		font-family: $kittenSwash;
		color: $lilac;
		font-size: 30px;
		line-height: 30px;
		text-align: center;
		font-weight: $regular;
		margin-bottom: 17.84px;
	}
	@include media-breakpoint-up(md) {
		min-height: calc(100vh - 156px);
	}
	@include media-breakpoint-up(lg) {
		padding: 140.33px 0 70.67px;
		.titlePage {
			font-size: 50px;
			line-height: 50px;
			text-align: left;
			margin-bottom: 26.65px;
		}
	}
}
.discord-button {
	width: 56px;
	right: 20px;
	bottom: 20px;
	height: 56px;
	text-align: center;
	position: fixed;
	z-index: 1000;
	box-shadow: rgba(88,101,242,0.3) 0 3px 5px -1px,rgba(88,101,242,0.14) 0 6px 10px 0,rgba(88,101,242,0.12) 0 1px 18px 0;
	background-color: #5865f2;
	border-radius: 56px;
	img {
		height: 44%;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

@include media-breakpoint-down(md) {
	.discord-button {
		width: 40px;
		height: 40px;
		right: 4px;
		bottom: 4px;
		img {
			top: 43%
		}
	}
}