.pageEditProfile {
	padding-bottom: 0;
	div.form {
		padding-bottom: 39px;
	}
	.headerProfile {
		margin-bottom: 45.5px;
		input[type="file"] {
			display: none;
		}
		.bgProfile {
			.btEdit, .file-input-label {
				width: 50px;
				height: 50px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 50;
			}
			.dropzone {
				min-height: 415px;
				.file-name {
					display: none;
				}
			}
			.dropzone::after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
			}
			.input-group {
				.help-block {
					position: absolute;
					bottom: 0px;
					left: 50%;
					transform: translateX(-50%);
					z-index: 10;
					font-weight: bold;
				}
			}
		}
		.photoProfile {
			.btEdit, .file-input-label {
				position: absolute;
				top: -4.68px;
				left: -1.02px;
				z-index: 50;
			}
			.dropzone {
				height: 100%;
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.input-group {
				.help-block {
					margin-top: -10px;
					z-index: 10;
					width: 100%;
					font-weight: bold;
					text-align: center;
				}
			}
		}
	}
	hr {
		border-top: 1px solid $lilac;
		margin-top: 0;
		margin-bottom: 36.41px;
	}
	.contentEditProfile {
		padding-bottom: 36px;
		.titleEdit {
			font-size: 16px;
			line-height: 25px;
			color: $blackWhite;
			margin-bottom: 19.39px;
		}
		.verifier-hint {
			padding-left: 20px;
			padding-bottom: 7px;
			font-size: medium;
			font-style: oblique;
			font-weight: bold;
			a {
				text-decoration: underline;
				text-decoration-thickness: 2px;
				color: $lilac;
				&:hover {
					color: $textColor;
				}
			}
		}
		.generalInfo, .min-donation, .perks {
			margin-bottom: 23px;
			label.inputField {
				display: flex;
				align-items: center;
				margin-bottom: 12px;
				letter-spacing: normal;
				span {
					font-size: 16px;
					color: $blackWhite;
					margin-right: 15px;
				}
				input {
					width: 100%;
					height: 100%;
					line-height: 100%;
					background: none;
					padding: 0;
					font-size: 16px;
					font-weight: $regular;
				}
				.help-block {
					color: red;
					font-size: 15px;
				}
			}
		}
		.biography {
			margin-bottom: 49.19px;
			.textField {
				width: calc(100% - 6px);
				border-radius: 7px;
				overflow: hidden;
				box-shadow: 0px 0px 0px 3px $lilac;
				.input-group {
					height: 100%;
				}
			}
		}
		.socialAccounts {
			margin-bottom: 47.77px;
			.social {
				margin-bottom: 18.85px;
				&:last-child {
					margin-bottom: 0;
				}
				.header {
					background-color: $lilac;
					height: 52.77px;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					padding: 0 10.74px 0 16.68px;
					border-top-left-radius: 7px;
					border-top-right-radius: 7px;
				}
				.icon {
					margin: 0 auto 0 0;
					width: 22px;
					height: 22px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				button {
					height: 32px;
					width: 97.94px;
					border-radius: 6px;
					background-color: $white;
					font-size: 12px;
					font-weight: $bold;
					letter-spacing: 1.25px;
					line-height: 32px;
					color: $purple;
					&.btRemove {
						margin-left: 13px;
					}
				}
				.editField {
					width: 100%;
					background: $bgSite;
					border: 3px solid transparent;
					height: 55.77px;
					line-height: 55.77px;
					padding: 0 15.75px;
					border-bottom-left-radius: 7px;
					border-bottom-right-radius: 7px;
					border: 3px solid $lilac;
					border-top: none;
					font-weight: $regular;
					display: flex;
					span {
						display: none;
					}
					&.verifiable {
						background: $disabled;
					}
					.help-block {
						margin-top: 7px;
						line-height: 0;
						color: red;
						font-size: 15px;
						display: block;
						font-weight: 700;
					}
				}
				input {
					width: 100%;
					background: none;
					height: 100%;
					line-height: 100%;
					padding: 0;
				}
				.verified {
					background-image: url('../img/layout/check-lilac.svg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					width: 32px;
					height: 32px;
				}
			}
			p {
				margin-bottom: 20px;
			}
		}
		.notification-settings {
			h3 {
				margin-bottom: 5px;
			}
			.collapsible-header {
				background-color: $lilac;
				height: 52.77px;
				width: 100%;
				display: flex;
				align-items: center;
				padding: 0 10.74px 0 16.68px;
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				&:hover {
					background-color: $bgSite;
					cursor: pointer;
				}
			}
			.collapsible-content {
				border-bottom-left-radius: 7px;
				border-bottom-right-radius: 7px;
				border: 3px solid $lilac;
				padding: 0 15.75px;
			}
			.categories {
				margin-bottom: 25px;
				.category {
					margin-bottom: 5px;

					.category-description {
						font-size: smaller;
						font-weight: bold;
					}

					.types {
						width: 100%;
						background: $bgCard;
						line-height: 55.77px;
						//border-bottom-left-radius: 7px;
						//border-bottom-right-radius: 7px;
						//border: 3px solid #a478f9;
						border-top: none;

						.type {
							display: flex;
							justify-content: space-between;

							&:hover {
								background-color: $bgSite;
								cursor: pointer;
							}

							.checkmark-container {
								display: flex;
								align-items: center;

								span.text {
									margin-right: 5px;
								}
							}
						}
					}
				}
			}
			.type-setup {
				margin-bottom: 5px;

			}
			.discord-setup {
				.socialAccounts {
					margin-bottom: 20px;
				}
			}
			.email-setup {
				.note {
					font-size: smaller;
				}
				.inputField {
					margin-bottom: 5px;
				}
			}
			.web-push-setup {
				.btEnablePush {
					margin: 20px auto;
					font-size: 15px;
				}
			}
			.collapsed {
				&:not(.force-not-collapse) {
					.collapsible-header {
						border-bottom-left-radius: 7px;
						border-bottom-right-radius: 7px;
					}

					.collapsible-content {
						display: none;
					}
				}
			}
		}
		.apply {
			text-align: center;
			max-width: 678px;
			margin: 0 auto;
			p {
				font-size: 16px;
				line-height: 32px;
				margin-bottom: 36.29px;
			}
			.btApply {
				min-width: 208px;
			}
			.spinner-container {
				height: 85px;
			}

			.spinner-outer {
				padding-top: 0;
			}

			.spinner-path {
				fill: $bgProfile;
			}

			.requested {
				font-size: x-large;
			}

			.approved {
				font-size: x-large;
				color: green;
			}

			.rejected {
				font-size: x-large;
				color: red;
			}
		}
	}
	.submitField {
		position: fixed;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;

		background: transparent;

		max-width: 1240px;
		width: 100%;
		border-top-left-radius: 60px;
		border-top-right-radius: 60px;
		.btSubmit {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			border-top-width: 1px;
			border-top-style: solid;
			border-color: $bgProfile;
			width: 100%;
			margin: 0 auto;
			height: 65px;
			line-height: 65px;
			font-size: 18px;
			letter-spacing: 1.87px;
			&:disabled {
				pointer-events: none;
				background-color: $bgDisabled;
			}
		}
	}
	@include media-breakpoint-up(md) {
		.headerProfile {
			margin-bottom: 64px;
			.photoProfile {
				position: absolute;
				top: 50%;
				right: auto;
				left: 51px;
				transform: translateY(-50%);
				.btEdit, .file-input-label {
					width: 22.51px;
					height: 22.51px;
					top: 4.5px;
					left: auto;
					right: 14.01px;
				}
			}
		}
		hr {
			margin-bottom: 58px;
		}
	}
	@include media-breakpoint-up(lg) {
		.containerEdit {
			background-color: $bgCard;
			border-radius: 8px;
			padding: 60px 60px 70px;
			position: relative;
			.support {
				position: absolute;
				top: -49.49px;
				right: -44.63px;
				width: 103.88px;
			}
		}
		.headerProfile {
			.bgProfile {
				.btEdit {
					width: 70px;
					height: 70px;
				}
			}
			.photoProfile {
				.btEdit, .file-input-label {
					width: 36.83px;
					height: 36.83px;
					top: 7.37px;
					right: 14.01px;
				}
			}
		}
		.contentEditProfile {
			padding: 0;
			.titleEdit {
				font-size: 20px;
			}
			.generalInfo {
				margin-bottom: 18px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.titleEdit {
					width: 100%;
				}
				.block {
					width: calc(50% - 13.5px);
				}
				label.inputField {
					margin-bottom: 30px;
					span {
						font-size: 18px;
						margin-right: 18px;
					}
					input {
						font-size: 18px;
					}
				}
			}

			.biography {
				margin-bottom: 57px;
				.textField {
					height: 350px;
				}
			}
			.socialAccounts {
				margin-bottom: 66px;
				.social {
					margin-bottom: 23px;
					.header {
						padding: 0 14.74px 0 13.64px;
					}
					.icon {
						width: 27.56px;
						height: 27.56px;
					}
					.editField {
						display: flex;
						span {
							display: block;
							color: $blackWhite;
							font-size: 18px;
							margin-right: 18px;
							font-weight: $bold;
						}
					}
					button {
						transition: $trasitionbt;
						&:hover {
							background-color: $yellow;
						}
					}
				}
			}
			.apply {
				p {
					font-size: 18px;
					line-height: 36px;
					margin-bottom: 34px;
				}
				.btApply {
					min-width: 189px;
				}
			}
			.min-donation {
				margin-top: 3em;
			}
		}
		.submitField {
			background: $bgSite;
			padding: 0px 20px 0px;
		}
	}
}
