#round {
	.donations {
		margin-bottom: 20px;
	}
	.contentDonation {
		margin-top: 40px;
		h2 {
			font-size: larger;
		}
		.form {
			margin-bottom: 15px;
		}
	}
	.donation, .receiver{
		width: 100%;
		margin-bottom: 14px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		border-radius: 6px;
		position: relative;
		overflow: hidden;
		background: $bgCard;
		padding: 13.36px 13.83px 18.83px;
		.user {
			margin-right: 21.05px;
		}
		.data {
			width: calc(100% - 80px);
			font-size: 16px;
			line-height: 22px;
			h3 {
				margin-bottom: 5px;
				font-weight: $bold;
			}
		}
		.score {
			margin-top: 15.83px;
			width: 100%;
			li {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 16px;
				line-height: 28px;
				h4 {
					font-weight: $bold;
					color: $blackWhite;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.socialLinks {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			width: 100%;
			a {
				width: 40px;
				height: 40px;
				display: inline-block;
				position: relative;
				margin-right: 13px;
				&:last-child {
					margin-right: 0;
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: auto;
					transition: $trasitionbt;
				}
				.normal {
					opacity: 1;
				}
				.hover {
					opacity: 0;
				}
			}
		}
		.socialLinks {
			margin-bottom: 0;
			max-width: 240px;
			justify-content: center;
			a {
				margin-right: 10px;
				&:hover {
					.normal {
						opacity: 0;
					}
					.hover {
						opacity: 1;
					}
				}
			}
		}

		.factor {
			display: inline-block;
			border: 0;

			/* Hide radio */
			input {
				display: none;
			}

			/* Order correctly by floating highest to the right */
			label {
				float: right;
			}
			/* The star of the show */
			label:before {
				display: inline-block;
				font-size: 3.1rem;
				padding: .3rem .2rem;
				margin: 0;
				cursor: pointer;
				content: "★"; /* full star */
			}
			/* Zero stars rating */
			label:last-child:before {
				content: "✩"; /* empty star outline */
			}
			/* Click + hover color */
			input:checked ~ label, /* color current and previous stars on checked */
			label:hover, label:hover ~ label { color: #73B100;  } /* color previous stars on hover */

			/* Hover highlights */
			input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
			input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
			label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #A6E72D;  }
		}

		.checkmark {
			height: 17.53px;
			width: 33.12px;
			background-color: $black;
			border-radius: 34px;
			display: block;
			margin-right: 7.87px;
			/* Create the checkmark/indicator (hidden when not checked) */
			/* Style the checkmark/indicator */
			position: relative;
			margin-left: auto;
			cursor: pointer;
			&::after {
				content: '';
				position: absolute;
				display: block;
				left: 1.48px;
				top: 1.29px;
				width: 15.08px;
				height: 14.95px;
				border-radius: 34px;
				transition: $trasitionbt;
				background-color: gray;
			}
		}
		.checkmark.checked:after {
			background-color: $lilac;
			left: 16.56px;
		}
	}
	@include media-breakpoint-up(md) {
		.headerDonations {
			margin-bottom: 14.15px;
			display: flex;
			justify-content: space-between;
			.titleCel {
				font-size: 18px;
				font-weight: $bold;
				letter-spacing: 0;
				line-height: 25px;
			}
			.cel-data {
				width: calc(40% + 78.66px);
				display: flex;
				justify-content: space-between;
				.col-user {
					width: calc(100% - 100px);
				}
				.col-date {
					width: 100px;
					display: inline-block;
					text-align: center;
				}
			}
			.cel-score {
				width: 60%;
				max-width: 578.11px;
				display: flex;
				span {
					width: 33.33%;
					display: inline-block;
					text-align: center;
				}
			}
		}
		.donation, .receiver {
			margin-bottom: 11.62px;
			display: flex;
			flex-wrap: nowrap;
			padding: 13.36px 13.83px 18.83px;
			.user {
				width: 56px;
				margin-right: 23.66px;
			}
			.data {
				width: calc(40% - 39.83px);
				display: flex;
				align-items: center;
				justify-content: space-between;
				h3 {
					width: calc(100% - 100px);
					margin-bottom: 0;
				}
				span {
					width: 100px;
					display: inline-block;
					text-align: center;
				}
			}
			.score {
				width: calc(60% - 39.83px);
				max-width: 578.11px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 0 0 0 auto;
				li {
					width: 33.33%;
					display: block;
					text-align: center;
				}
			}
		}
			//.donation {
			//	background: linear-gradient(right, #f4eeff, #f4eeff 80%, transparent 80%, transparent 100%);
			//	background: -webkit-linear-gradient(right, #f4eeff, #f4eeff 80%, transparent 80%, transparent 100%);
			//}
		.donationsInner {
			width: 80%;
			margin-left: auto;
			margin-bottom: 40px;
		}
	}
	@include media-breakpoint-up(lg) {
		.headerDonations {
			margin-bottom: 14.15px;
			display: flex;
			justify-content: space-between;
			.titleCel {
				font-size: 18px;
				font-weight: $bold;
				letter-spacing: 0;
				line-height: 25px;
			}
			.cel-data {
				width: 100%;
				max-width: calc(100% - 900px);
				display: flex;
				justify-content: space-between;
				.col-user {
					width: calc(100% - 164px);
				}
				.col-date {
					width: 164px;
					display: inline-block;
					text-align: center;
				}
			}
			.cel-score {
				width: 900px;
				max-width: 900px;
				padding-right: 13.83px;
				display: flex;
				span {
					width: 33.33%;
					display: inline-block;
					text-align: center;
				}
			}
		}
		.donation {
			margin-bottom: 11.62px;
			display: flex;
			flex-wrap: nowrap;
			padding: 13.36px 13.83px 18.83px;
			.user {
				width: 56px;
				margin-right: 23.66px;
			}
			.data {
				width: 100%;
				max-width: calc(100% - 900px);
				display: flex;
				align-items: center;
				justify-content: space-between;
				h3 {
					font-size: 20px;
					line-height: 26px;
					width: calc(100% - 164px);
					margin-bottom: 0;
				}
				span {
					width: 164px;
					display: inline-block;
					text-align: center;
					font-size: 18px;
					line-height: 26px;
				}
			}
			.score {
				width: 900px;
				max-width: 900px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 0 0 0 auto;
				li {
					width: 33.33%;
					display: block;
					text-align: center;
					font-size: 18px;
					line-height: 26px;
				}
			}
		}
	}
}
