#send-support {
	padding-bottom: 52px;
	.headerPastDonations {
		h2 {
			margin-bottom: 15px;
			font-size: 20px;;
		}
	}
	.contentSendSupport {
		margin-bottom: 22.57px;
	}
	.cart {
		.no-items-found {
			text-align: center;
			color: hsla(218.87325, 33.333332%, 41.764706%, 0.5);
			padding-top: 50px;
			padding-bottom: 80px;
		}
	}
	.cardSendSupport {
		height: 201px;
		width: 100%;
		border-radius: 7px;
		background-color: $bgCard;
		margin-bottom: 13px;
		padding: 25px 28px 23px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		max-height: 500px;
		&.remove {
			transition: all 0.75s ease-in-out;
			opacity: 0;
			transform: scale(0);
			max-height: 0;
			padding: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.user {
			height: 54.5px;
			width: 54.5px;
			margin: 0 25px 21px 0;
		}
		.content {
			width: calc(100% - 79.5px);
			margin-bottom: 21px;
			h3 {
				font-weight: $bold;
				font-size: 16px;
				line-height: 30px;
			}
		}
		.field {
			width: calc(50% - 9.5px);
			.titleField {
				font-size: 13px;
				line-height: 18px;
				margin-bottom: 12px;
				display: block;
			}
			.inputField {
				height: 44px;
				line-height: 38px;
				padding: 0 17px;
				font-size: 13px;
			}
			.select-selected {
				padding: 0 40px 0 17px;
			}
			.select-items {
				height: 143px;
			}
		}
		.field-amount {
			margin-right: 19px;
		}
		.btClose {
			position: absolute;
			top: 12.48px;
			right: 13.44px;
			width: 26.96px;
			height: 26.96px;
			background-color: transparent;
			background-image: url('../img/layout/icon-x-lilac.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			text-indent: -999em;
			padding: 0;
		}
	}
	.buttons {
		.btBasic {
			width: 100%;
			font-size: 18px;
			letter-spacing: 1.87px;
		}
		.btCheckout {
			margin-bottom: 23.09px;
			&:disabled {
				pointer-events: none;
				background-color: lightgray;
			}
		}
		margin-bottom: 50px;
	}
	.donation {
		width: 100%;
		margin-bottom: 14px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		border-radius: 6px;
		position: relative;
		overflow: hidden;
		background: $bgCard;
		padding: 13.36px 13.83px 18.83px;
		.user {
			margin-right: 21.05px;
		}
		.data {
			width: calc(100% - 80px);
			font-size: 16px;
			line-height: 22px;
			h3 {
				margin-bottom: 5px;
				font-weight: $bold;
			}
		}
		.score {
			margin-top: 15.83px;
			width: 100%;
			li {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 16px;
				line-height: 28px;
				h4 {
					font-weight: $bold;
					color: $blackWhite;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	@include media-breakpoint-up(md) {
		.cardSendSupport {
			height: 166px;
			margin-bottom: 20px;
			padding: 25px 30px;
			flex-wrap: nowrap;
			.user {
				margin-bottom: 0;
			}
			.content {
				width: calc(100% - 475.5px);
				margin-bottom: 0;
			}
			.field {
				display: flex;
				align-items: center;
				width: auto;
				margin: 0 0 0 auto;
				.titleField {
					margin: 0 25px 0 0;
				}
			}
			.field-amount {
				margin-right: 35px;
				.inputField {
					width: 200px;
				}
			}
			.field-currency {
				.inputField {
					width: 136px;
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		padding-bottom: 142px;
		.contentSendSupport {
			margin-bottom: 42px;
			position: relative;
			.support {
				position: absolute;
				top: -50.4px;
				right: -48.1px;
				width: 103.88px;
				z-index: 10;
			}
		}
		.cardSendSupport {
			z-index: 5;
			padding-right: 48px;
			position: initial;
			.user {
				width: 116px;
				height: 116px;
				margin-right: 29px;
				.photo {
					box-shadow: 0px 0px 0px 4px $lilac;
				}
			}
			.content {
				width: calc(100% - 651.5px);
				h3 {
					font-size: 20px;
					line-height: 30px;
					margin-bottom: 5px;
				}
				p {
					font-size: 18px;
					line-height: 25px;
				}
			}
			.field {
				.titleField {
					font-size: 18px;
					line-height: 25px;
				}
				.inputField {
					height: 65px;
					line-height: 59px;
					font-size: 18px;
				}
			}
			.field-currency {
				margin-right: 48px;
			}
			.btClose {
				position: relative;
				top: auto;
				right: auto;
				min-width: 26.96px;
				min-height: 26.96px;
				&:hover {
					background-image: url('../img/layout/icon-x-dark-hover.svg');
				}
			}
		}
		.buttons {
			display: flex;
			align-items: center;
			.btBasic {
				width: calc(50% - 19px);
				height: 62px;
				line-height: 62px;
			}
			.btCheckout {
				margin: 0 38px 0 0;
			}
		}

		.headerDonations {
			margin-bottom: 14.15px;
			display: flex;
			justify-content: space-between;
			.titleCel {
				font-size: 18px;
				font-weight: $bold;
				letter-spacing: 0;
				line-height: 25px;
			}
			.cel-data {
				width: 100%;
				max-width: calc(100% - 591.94px);
				display: flex;
				justify-content: space-between;
				.col-user {
					width: calc(100% - 164px);
				}
			}
			.cel-score {
				width: 60%;
				max-width: 578.11px;
				padding-right: 13.83px;
				display: flex;
				span {
					width: 50%;
					display: inline-block;
					text-align: center;
				}
			}
		}

		.donation {
			margin-bottom: 11.62px;
			display: flex;
			flex-wrap: nowrap;
			padding: 13.36px 13.83px 18.83px;
			.user {
				width: 56px;
				margin-right: 23.66px;
			}
			.data {
				width: 100%;
				max-width: calc(100% - 657.77px);
				display: flex;
				align-items: center;
				justify-content: space-between;
				h3 {
					font-size: 20px;
					line-height: 26px;
					width: calc(100% - 164px);
					margin-bottom: 0;
				}
				span {
					width: 164px;
					display: inline-block;
					text-align: center;
					font-size: 18px;
					line-height: 26px;
				}
			}
			.score {
				width: calc(60% - 39.83px);
				max-width: 578.11px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 0 0 0 auto;
				li {
					width: 50%;
					display: block;
					text-align: center;
					font-size: 18px;
					line-height: 26px;
				}
			}
		}

	}
}
