/.idea/
/streamtide.iml
/config.edn
/resources/public/js/main.js
/resources/public/js/cljs-runtime/
/resources/public/js/manifest.edn
/resources/public/css/main.css
/resources/public/img/avatar/*
!resources/public/img/avatar/profile_placeholder.svg
/resources/public/contracts/build/
/node_modules/
/.cpcache/
/.shadow-cljs/
/server/
