{:paths ["src" "src-cljsjs" "test"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}

 :deps
 {akiroz.re-frame/storage {:mvn/version "0.1.4"}
  cljsjs/apollo-fetch {:mvn/version "0.7.0-0"}
  cljsjs/graphql {:mvn/version "0.13.1-0"}
  cljsjs/react-infinite {:mvn/version "0.13.0-0"}
  com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
  com.taoensso/timbre {:mvn/version "4.10.0"}
  district0x/async-helpers {:mvn/version "0.1.3"}
  district0x/district-cljs-utils {:mvn/version "1.0.4"}
  district0x/district-graphql-utils {:mvn/version "1.0.11"}
  district0x/district-server-config {:mvn/version "1.0.1"}
  district0x/district-server-graphql {:mvn/version "1.0.19"}
  district0x/district-server-logging {:mvn/version "1.0.6"}
  district0x/district-server-middleware-logging {:mvn/version "1.0.0"}
  district0x/district-time {:mvn/version "1.0.1"}
  district0x/district-ui-component-form {:mvn/version "0.2.15"}
  district0x/district-ui-graphql {:mvn/version "1.0.15"}
  district0x/district-ui-logging {:mvn/version "1.1.0"}
  district0x/district-ui-notification {:mvn/version "1.0.1"}
  district0x/district-ui-window-size {:mvn/version "1.0.1"}
  is.d0x/cljs-web3-next {:mvn/version "23.3.1"}
  is.d0x/district-server-db {:mvn/version "23.3.13"}
  is.d0x/district-server-web3-events {:mvn/version "23.1.26"}
  is.d0x/district-ui-reagent-render {:mvn/version "23.1.26"}
  is.d0x/district-ui-router {:mvn/version "23.2.9"}
  is.d0x/district-ui-smart-contracts {:mvn/version "23.1.26"}
  is.d0x/district-ui-web3 {:mvn/version "23.3.1"}
  is.d0x/district-ui-web3-accounts {:mvn/version "23.1.26"}
  is.d0x/district-ui-web3-tx-id {:mvn/version "23.1.26"}
  mount/mount {:mvn/version "0.1.16"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/clojurescript {:mvn/version "1.11.4"}
  org.clojure/core.match {:mvn/version "1.0.1"}
  re-frame/re-frame {:mvn/version "1.3.0"}
  reagent/reagent {:mvn/version "1.1.1"}}

 :aliases
 {:shadow-cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.18.0"}}
                :main-opts ["-m" "shadow.cljs.devtools.cli"]}
  :dev
  {:extra-deps
   {binaryage/devtools {:mvn/version "1.0.7"}
    cider/cider-nrepl {:mvn/version "0.27.2"}
    cider/piggieback {:mvn/version "0.4.0"}
    day8.re-frame/re-frame-10x {:mvn/version "1.5.0"}
    day8.re-frame/test {:mvn/version "0.1.5"}
    day8.re-frame/tracing {:mvn/version "0.6.2"}
    jamesmacaulay/cljs-promises {:mvn/version "0.1.0"}
    org.clojure/tools.reader {:mvn/version "1.3.6"}
    re-frisk/re-frisk {:mvn/version "0.5.3"}
    refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}}}
  }
}
