version: 2.1

jobs:
 test:
   working_directory: ~/streamtide
   docker:
     # primary container to run all steps
     - image: 487920318758.dkr.ecr.us-west-2.amazonaws.com/cljs-web3-ci:node-18.7.0
       aws_auth:
         aws_access_key_id: $AWS_ACCESS_KEY_ID
         aws_secret_access_key: $AWS_SECRET_ACCESS_KEY
     # Secondary container for ganache dev testnet
     - image: trufflesuite/ganache-cli:latest
       command: [ -d, -m district0x, -p 8549, -l 8000000 ]
   steps:
     - checkout
     - restore_cache:
         name: Restore npm package cache
         keys:
           - npm-packages-{{ checksum "yarn.lock" }}
     - run:
         name: Install node modules
         command: yarn install
     - save_cache:
         name: Save npm package cache
         key: npm-packages-{{ checksum "yarn.lock" }}
         paths:
           - ./node_modules/
     - run:
         name: Deploy contracts
         command: npx truffle migrate --network ganache --reset
     - run:
         name: Run test suite
         command: bb compile-run-server-tests

workflows:
 version: 2
 build_and_deploy:
   jobs:
     - test:
         context: district0x
