$bgSite: $white;
$bgCard: $lightLilac;
$bgProfile: $lightLilac;
$textColor: $purple;
$blackWhite: $black;
$bgSubmit: $white;
$headerContent: $purple;
$btFooter: url('../img/layout/icon-x-dark.svg');
$btArrowSimple: url('../img/layout/icon-down-arrow-simple-day.svg');
$disabled: #eaeaea;
$bgNotification: $purple;
$textNotification: $white;
$bgActiveRound: #86ff86;
