$bgSite: $darkPurple;
$bgCard: $purple2;
$bgProfile: $darkPurple;
$textColor: $white;
$blackWhite: $white;
$bgSubmit: $purple2;
$headerContent: $purple3;
$btFooter: url('../img/layout/icon-x-light.svg');
$btArrowSimple: url('../img/layout/icon-down-arrow-simple-night.svg');
$disabled: #353535;
$bgNotification: $lightLilac;
$textNotification: $black;
$bgActiveRound: green;
$bgDisabled: darkgray;