.simpleForm {
	::-webkit-input-placeholder {
		color: $textColor;
	}
	:-ms-input-placeholder {
		color: $textColor;
	}
	::placeholder {
		color: $textColor;
	}
}
.inputField {
	width: 100%;
	border: 3px solid $lilac;
	border-radius: 7px;
	padding: 0 18.83px;
	height: 56px;
	line-height: 50px;
	color: $textColor;
	font-size: 12px;
	letter-spacing: 1.25px;
	font-weight: $bold;
	background: $bgSite;
	display: block;
	@include media-breakpoint-up(lg) {
		padding: 0 22.83px;
	}
}
.textField {
	textarea, input {
		background: $bgSite;
	}
}
.btSearchField {
	height: 30.25px;
	width: 30.25px;
	background-color: transparent;
	background-image: url('../img/layout/icon-search.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-indent: -999em;
}

.selectForm.custom-select {
	padding: 0;
	line-height: 50px;
	letter-spacing: 1.25px;
	font-weight: 700;
	height: 56px;
	.options {
			height: 100%;
		.select__control{
			height: 100%;
			line-height: 100%;
			background-color: $bgSite;
			border: 3px solid $lilac;
			border-radius: 7px;
			box-shadow: none;
			-webkit-transition: all 0s;
			transition: all 0s;
		}
		font-size: 14px;
		.select__value-container {
			font-weight: normal;
			padding: 2px 22px;
		}
		.select__single-value,.select__option {
			color: $blackWhite;
			background-color: $bgSite;
			&.select__option--is-focused {
				background-color: $bgCard;
			}
		}
		.select__menu {
			border: 3px solid $lilac;
			border-radius: 7px;
			background-color: $bgSite;
		}
		.dropdown-indicator {
			position: absolute;
			content: "";
			top: 50%;
			right: 13px;
			height: 30px;
			width: 30px;
			background-image: url("../img/layout/icon-down-arrow.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			transform: translateY(-50%);
			z-index: 0;
			&:hover {
				background-image: url('../img/layout/icon-down-arrow-hover.svg');
			}
			&.dropdown-opened {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
}

.searchForm {
	position: relative;
	.inputField {
		padding-right: 56px;
	}
	.btSearchField {
		position: absolute;
		top: 50%;
		right: 17px;
		transform: translateY(-50%);
	}
	@include media-breakpoint-up(lg) {
		.inputField {
			padding-right: 60px;
		}
		.btSearchField {
			right: 18px;
			&:hover {
				background-image: url('../img/layout/icon-search-hover.svg');
			}
		}
	}
}

.input-group {
	line-height: 100%;
	width: 100%;
	.help-block {
		display: block;
		position: absolute;
		margin-top: 10px;
		color: red;
		font-size: 15px;

		&::before {
			width: 100%;
			content: '';
			display: inline-block;
			transition: all .2s linear;
		}
	}
}

.no-items-found {
	text-align: center;
	color: hsla(218.87325, 33.333332%, 41.764706%, 0.5);
	padding-top: 230px;
	padding-bottom: 230px;
}


/* Customize the label (the container) */
.checkField {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* Hide the browser's default checkbox */
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	/* Create a custom checkbox */
	&.checkPublicPrivate {
		.checkmark {
			height: 17.53px;
			width: 33.12px;
			background-color: $black;
			border-radius: 34px;
			display: block;
			margin-right: 7.87px;
			/* Create the checkmark/indicator (hidden when not checked) */
			/* Style the checkmark/indicator */
			position: relative;
			&::after {
				content: '';
				position: absolute;
				display: block;
				top: 1.29px;
				width: 15.08px;
				height: 14.95px;
				border-radius: 34px;
				transition: $trasitionbt;
				background-color: $yellow;
				left: 1.48px;
			}
		}
		.private,
		.public {
			font-size: 12px;
			line-height: 25px;
			font-weight: $bold;
		}
		.private {
			display: none;
		}
		/* Show the checkmark when checked */
		.checkmark.checked:after {
			background-color: $lilac;
			left: 16.56px;
		}

		&.loading {
			pointer-events: none;
			.checkmark {
				background-color: gray;
				opacity: 0.6;
			}
		}
		.checkmark.checked ~ .public {
			display: none;
		}
		.checkmark.checked ~ .private {
			display: block;
		}

		.input-group {
			display: none;
		}
	}
	&.simple {
		/* Create a custom checkbox */
		.checkmark {
			height: 28.26px;
			width: 28.26px;
			min-width: 28.26px;
			border-radius: 7px;
			border: 3px solid $lilac;
			margin-right: 17.39px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				display: none;
				left: 8px;
				top: 1px;
				width: 8px;
				height: 15px;
				border: solid $lilac;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
		/* On mouse-over, add a grey background color */
		&:hover input ~ .checkmark {
			background-color: rgba($yellow, 0.5);
		}

		/* Show the checkmark when checked */
		input:checked ~ .checkmark:after {
			display: block;
		}

		.checkmark.checked:after {
			display: block;
		}

		/* Style the checkmark/indicator */
	}

	@include media-breakpoint-up(lg) {
		&.checkPublicPrivate {
			.checkmark {
				height: 27px;
				width: 51px;
				margin-right: 12.12px;
				&::after {
					left: 2.28px;
					top: 1.98px;
					width: 23.22px;
					height: 23.03px;
				}
			}
			.checkmark.checked:after {
				left: 25.5px;
			}
		}
	}
}
.medias {
	a.external-link {
		border-radius: 8px;
		border: solid 1px $purple;
		box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
		padding: 8px 12px;
		display: inline-block;
		width: 100%;
		word-break: break-word;
	}

	.unpinned {
		a.external-link {
			border-color: $textColor;
		}
	}
}