.user {
	position: relative;
	width: 36px;
	height: 36px;
	.photo {
		width: 100%;
		height: 100%;
		box-shadow: 0px 0px 0px 3px $lilac;
		background-color: $white;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		z-index: 0;
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform: translate(-50%, -50%);
		z-index: 1;
	}
	&.star {
		&::after {
			content: '';
			height: 18px;
			width: 19px;
			display: block;
			background: url('../img/layout/icon-star.svg') no-repeat center;
			background-size: contain;
			position: absolute;
			bottom: 0;
			right: -9.5px;
		}
	}
	&.lb {
		width: 56px;
		height: 56px;
		&.star {
			&::after {
				height: 28px;
				width: 29.56px;
				right: -14.79px;
			}
		}
	}
	@include media-breakpoint-up(lg) {
		width: 56px;
		height: 56px;
		&.star {
			&::after {
				height: 28px;
				width: 29.56px;
				right: -14.79px;
			}
		}
	}
}
.thumb {
	&.star {
		&::after {
			content: '';
			height: 28px;
			width: 29.56px;
			display: block;
			background: url('../img/layout/icon-star.svg') no-repeat center;
			background-size: contain;
			position: absolute;
			top: 6px;
			right: 6px;
		}
	}
}
.photo {
	&.star {
		&::after {
			content: '';
			height: 18px;
			width: 19px;
			display: block;
			background: url('../img/layout/icon-star.svg') no-repeat center;
			background-size: contain;
			position: absolute;
			top: -2px;
			right: -3px;
		}
	}
	@include media-breakpoint-up(md) {
		&.star {
			&::after {
				height: 22px;
				width: 24.56px;
				top: 9px;
				right: 7px;
			}
		}
	}
	@include media-breakpoint-up(lg) {
		&.star {
			&::after {
				height: 28px;
				width: 29.56px;
				top: 18px;
				right: 18px;
			}
		}
	}
}
